@charset "utf-8";
/* CSS Document */

.navigate{
	position: absolute;
	left: 0;
	width: 20%;
	top: 0;
	bottom: 70%;
	height: 60%;
	background-color: #FFF;
}

.sysinfo{
	position: absolute;
	left: 0;
	width: 20%;
	top: 60%;
	height:40%;
	background-color:#FFF;
}

.mainbody{
	position: absolute;
	left: 20%;
	width: 78%;
	top: 0;
	height: 100%;
	background-color: #FFF;
}

.input_and_comment{
	position: absolute;
	left: 75%;
	width: 25%;
	top: 0;
	height:100%;
	/*background-color: #FF0;*/
}

.pre_comment{
	position:absolute;
	left: 0;
	width: 100%;
	top: 0;
	height:30%;
	/*background-color: #F00;*/
}

.v_keypad{
	position:absolute;
	left: 300px;
	width: 94px;
	top: 300px;
	height: 105px;
	display: none;
	/*background-color: #0F0;*/
}

.below_comment{
	position:absolute;
	left: 0;
	width: 100%;
	top: 70%;
	height:30%;
	/*background-color: #00F;*/
}

.input_edit{
	text-align:center;
}

.main_navigate{
	color:#000;
}

.sub_navigate{
	color:#000;
}

.class_manual_setting, .class_info_query, .class_system_settings{
	display:none;
	/*text-align:left;*/
}

.title_body{
	text-align:center;
	padding:5px;
	font-size:24px;
	background-color:#CCC;
}

.autocharge_body, .manualcharge_body, .information_body, .system_body{
	text-align:center;
}
