@charset "utf-8";
/* CSS Document */

/*去链接下划线*/
a{text-decoration:none;
	color:#FFF;
	font-size:36px;
	font-weight:bold;
}

body{
	background-color:#B359BF;
}

.navigate{
	position: absolute;
	left: -1px;
	width: 25%;
	top: 1px;
	bottom: 85%;
	height: 85%;
	color:#FFF;
	line-height:60px;
}

.logo_area{
	position: absolute;
	left: 3%;
	width: 19%;
	bottom:2%;
	height: 15%;
}

.mainbody{
	position: absolute;
	left: 25%;
	width: 73%;
	top: 0;
	height: 100%;
}

.v_keypad{
	position:absolute;
	left: 300px;
	width: 94px;
	top: 300px;
	height: 105px;
	display: none;
	/*background-color: #0F0;*/
}

.input_edit{
	text-align:center;
}

.navigate{
	font-size:24px;
}

.sub_navigate{
	font-size:20px;
}

.class_manual_setting, .class_info_query, .class_system_settings{
	display:none;
	/*text-align:left;*/
}

.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page10,.page11,.page12,.page13,.page14 {
	display:none;
}

.cls_auto, .cls_money, .cls_time, .cls_cap {
	float: left;
	position: absolute;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: #FFF;
	left: 0px;
	border-width:medium;
}

.cls_auto {
	background-color:#99d20c;
	height:40%;
	width:100%;
	left:0;
	top:15%;
}

.cls_money, .cls_time, .cls_cap {
	top: 60%;
	height:35%;
}

.cls_money {
	background-color: #198ae0;
	width: 33%;
}

.cls_time {
	background-color: #26b1b6;
	width: 34%;
	left:33%;
}

.cls_cap {
	background-color: #099;
	width: 33%;
	left:67%;
}

.title_body{
	position:absolute;
	top:5%;
	width:100%;
	height:7%;
	text-align:center;
	color:#FFF;
	font-size:24px;
	background-color:#CCC;
	font-style:italic;
	font-weight:bold;
	/* chrome 2+, safari 4+; multiple color stops */
	background-image:-webkit-gradient(linear, left bottom, right top, color-stop(0.32, #099), color-stop(0.83, #198ae0));
	/*background-image: linear-gradient(#063053, #395873, #5c7c99);*/
}

.autocharge_body, .manualcharge_body, .information_body, .system_body{
	text-align:left;
}
