@charset "utf-8";
/* CSS Document */

.navigate{
	position: absolute;
	left: 0;
	width: 25%;
	top: 0;
	bottom: 79%;
	height: 79%;
	background-color: #FFF;
}

.logo_area{
	position: absolute;
	left: 0;
	width: 25%;
	top: 85%;
	height: 15%;
	background-color:#FFF;
}

.mainbody{
	position: absolute;
	left: 25%;
	width: 73%;
	top: 0;
	height: 100%;
	background-color: #FFF;
}

.v_keypad{
	position:absolute;
	left: 300px;
	width: 94px;
	top: 300px;
	height: 105px;
	display: none;
	/*background-color: #0F0;*/
}

.input_edit{
	text-align:center;
}

.navigate{
	font-size:24px;
}

.sub_navigate{
	font-size:20px;
}

.class_manual_setting, .class_info_query, .class_system_settings{
	display:none;
	/*text-align:left;*/
}

.title_body{
	text-align:center;
	padding:5px;
	font-size:24px;
	background-color:#CCC;
}

.autocharge_body, .manualcharge_body, .information_body, .system_body{
	text-align:center;
}
